.WeDo
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 21;
    grid-row-end: 24;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}

.containerAbout
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:repeat(20,5%);
    grid-template-rows:repeat(25,10vw);
    position:absolute;
    width:100%;
}

.Officers
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 7;
    grid-row-end: 20;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}

.officerContainers
{
    padding-top: 1vw;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:repeat(20,5%);
    grid-template-rows:repeat(30,5vw);
}

.president
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start: 5;
    grid-column-end:17;
    grid-row-start: 1;
    grid-row-end: 10;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
.coVicePresident
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start:11;
    grid-column-end:21;
    grid-row-start: 10;
    grid-row-end: 15;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
   
}
.vicePresident
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start: 1;
    grid-column-end:11;
    grid-row-start: 10;
    grid-row-end: 15;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;

}
.secretary
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start: 1;
    grid-column-end:11;
    grid-row-start: 15;
    grid-row-end: 20;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;

}

.treasure
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start:11 ;
    grid-column-end:21;
    grid-row-start: 15;
    grid-row-end: 20;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}


.historian
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start:1 ;
    grid-column-end:11;
    grid-row-start: 20;
    grid-row-end: 25;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}

.socialAdd
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start:11 ;
    grid-column-end:21;
    grid-row-start: 20;
    grid-row-end: 25;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}

.BottomBaseAbout
{
    color:white;
    background-color: #143F6B;
    grid-column-start: 1;
    grid-column-end:21;
    grid-row-start: 25;
    grid-row-end: 26;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center; 
}