.WeDoMobile
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 134;
    grid-row-end: 155;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}

.containerAboutMobile
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:repeat(20,5%);
    grid-template-rows:repeat(156,10vw);
    position:absolute;
    width:100%;
}

.OfficersMobile
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 20;
    grid-row-end:132;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}

.officerContainersMobile
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:repeat(20,5%);
    grid-template-rows:repeat(250,5vw);
}

.presidentMobile
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 1;
    grid-row-end: 33;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}

.vicePresidentMobile
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 35;
    grid-row-end: 67;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;

}
.coVicePresidentMobile
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 68;
    grid-row-end: 103;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}
.secretaryMobile
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 105;
    grid-row-end: 140;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;

}

.treasureMobile
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start:2 ;
    grid-column-end:20;
    grid-row-start: 142;
    grid-row-end: 177;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}


.historianMobile
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start:2 ;
    grid-column-end:20;
    grid-row-start: 178;
    grid-row-end: 205;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}

.socialAddMobile
{
    color:black;
    background-color: #f0f0f0;
    grid-column-start:2 ;
    grid-column-end:20;
    grid-row-start: 207;
    grid-row-end: 220;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}
.BottomBaseAboutMobile
{
    color:white;
    background-color: #143F6B;
    grid-column-start: 1;
    grid-column-end:21;
    grid-row-start: 175;
    grid-row-end: 181;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center; 
}