body{
    overflow-x: hidden;
}

.backgroundCanvas {
    width: 100vw;
    height: 100vh;
    z-index: -3;
    background-image: linear-gradient(to bottom, #05367a, #322354, #2f1632, #1f0d18, #000000)
  }
