body
{
    background-color: black;
}

.ClubTitle
{
    font-size: 9vw;
    text-align: center;
    color:white;
    font-family: 'Orbitron', sans-serif;
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 2;
    grid-row-end: 3;
}

.links
{
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Teko', sans-serif;
    z-index:10;

  
}
.links > a
{
    margin-left: 2vw;
    color:#00b3fe;
}


.fixedLinks
{
    position: fixed;
    left:50%;
    top:-4vw;
    transform: translate(-50%, 0);
    font-size: 2.5vw;
    width:50%;
    text-align: center;
    font-family: 'Teko', sans-serif;
    z-index:5;
    transition: 1s;
    width: 100%;
    height: 4vw;
    background-color: #143F6B;
    z-index:100;

  
}
.fixedLinks > a
{
    margin-left: 2vw;
    color:#00b3fe;
}

.container
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:repeat(20,5%);
    grid-template-rows:repeat(23,10vw);
    position:absolute;
    width:100%;
    
}


.doing > img{
    float: right;
}

.lang
{
    
    color:black;
    background-color: rgba(255, 255, 255,0.9);
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 17;
    grid-row-end: 19;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}

.doing
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);
    grid-column-start: 2;
    grid-column-end:12;
    grid-row-start: 7;
    grid-row-end: 11;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}

.Socials
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);;
    grid-column-start: 2;
    grid-column-end:5;
    grid-row-start: 12;
    grid-row-end: 16;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
.Meeting
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);;
    grid-column-start: 7;
    grid-column-end:20;
    grid-row-start: 12;
    grid-row-end: 16;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}

.toJoin
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);;
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 20;
    grid-row-end: 22;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
.Annoucements
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);;
    grid-column-start: 15;
    grid-column-end:20;
    grid-row-start: 7;
    grid-row-end: 11;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
.BottomBase
{
    color:white;
    background-color: #143F6B;
    grid-column-start: 1;
    grid-column-end:21;
    grid-row-start: 23;
    grid-row-end: 24;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center; 
}
.descriptionEventMain
{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.LowPowerMode
{
    position: fixed;
    right:1vw;
    top:0.1vw;
    text-align: center;
    z-index: 33300;
    font-size: 1vw;

    font-family: 'Teko', sans-serif;
}
.LowPowerButton
{
    border: white 0.2vw solid;
    width: 2.5vw;
    height: 2.5vw;
   
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
}
.LowPowerButton:hover
{
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
}

.LowPowerButtonOn
{
    border: white 0.2vw solid;
    width: 2.5vw;
    height: 2.5vw;
   
    border-radius: 100%;
    background-color: rgba(255,255,255,0.95);
}

.LowPowerButtonOn:hover
{
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
}