

.ClubTitle
{
    position: absolute;
    left:50%;
    top:20%;
    transform: translate(-50%, 0);
    font-size: 9vw;
    width:100%;
    text-align: center;
    color:white;
    font-family: 'Orbitron', sans-serif;

}

.linksMobile
{
    position: absolute;
    left:50%;
    top:60%;
    transform: translate(-50%, 0);
    font-size: 6vw;
    width:100%;
    text-align: center;
    font-family: 'Teko', sans-serif;
    z-index:5;

  
}
.linksMobile > a
{
    margin-left: 2vw;
    color:#00b3fe;
}


.fixedLinksMobile
{
    position: fixed;
    left:50%;
    top:-10vw;
    transform: translate(-50%, 0);
    font-size: 7vw;
    width:50%;
    text-align: center;
    font-family: 'Teko', sans-serif;
    z-index:5;
    transition: 1s;
    width: 100%;
    height: 10vw;
    background-color: #143F6B;

  
}
.fixedLinksMobile > a
{
    margin-left: 2vw;
    color:#00b3fe;
}

.containerMobile
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:repeat(20,5%);
    grid-template-rows:repeat(100,10vw);
    position:absolute;
    top:100%;
    width:100%;
    
}


.doing > img{
    float: right;
}

.langMobile
{
    
    color:black;
    background-color: rgba(255, 255, 255,0.9);
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 17;
    grid-row-end: 24;
    padding: 1vw;
    padding-right: 5vw;
    float: right;
    text-align: center;
    font-family: 'Teko', sans-serif;
}

.doingMobile
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 1;
    grid-row-end: 16;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}

.SocialsModile
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);;
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 52;
    grid-row-end: 57;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    display: grid;

    grid-template-columns:repeat(50,2%);
    grid-template-rows:repeat(10,10%);

}
.MeetingMobile
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);;
    grid-column-start: 2;
    text-align: center;
    grid-column-end:20;
    grid-row-start: 25;
    grid-row-end: 51;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}

.toJoinMobile
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);;
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 58;
    grid-row-end: 74;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
.AnnoucementsMobile
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);;
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 75;
    grid-row-end: 94;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
.BottomBaseMobile
{
    color:white;
    background-color: #143F6B;
    grid-column-start: 1;
    grid-column-end:21;
    grid-row-start: 95;
    grid-row-end: 102;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center; 
}