

.ClubTitle
{
    position: absolute;
    left:50%;
    top:30%;
    transform: translate(-50%, 0);
    font-size: 9vw;
    width:100%;
    text-align: center;
    color:white;
    font-family: 'Orbitron', sans-serif;

}

.links
{
    position: absolute;
    left:50%;
    top:80%;
    transform: translate(-50%, 0);
    font-size: 2.5vw;
    width:50%;
    text-align: center;
    font-family: 'Teko', sans-serif;

  
}
.links > a
{
    margin-left: 2vw;
    color:#00b3fe;
}

.container
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:repeat(20,5%);
    grid-template-rows:repeat(20,10vw);
    position:absolute;
    top:100%;
    width:100%;
    
}


.doing > img{
    float: right;
}

.lang
{
    
    color:black;
    background-color: rgba(255, 255, 255,0.9);
    grid-column-start: 15;
    grid-column-end:20;
    grid-row-start: 1;
    grid-row-end: 5;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}

.doing
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);
    grid-column-start: 2;
    grid-column-end:12;
    grid-row-start: 1;
    grid-row-end: 5;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}

.Socials
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);;
    grid-column-start: 2;
    grid-column-end:5;
    grid-row-start: 6;
    grid-row-end: 10;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}
.Meeting
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);;
    grid-column-start: 7;
    grid-column-end:20;
    grid-row-start: 6;
    grid-row-end: 10;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}

.toJoin
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);;
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 11;
    grid-row-end: 15;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center;
}