.containerResourcesMobile
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns:repeat(20,5%);
    grid-template-rows:repeat(35,10vw);
    position:absolute;
    width:100%;
}

.FormLinksMobile
{
    color:black;
    background-color: rgba(255, 255, 255,0.9);
    grid-column-start: 2;
    grid-column-end:20;
    grid-row-start: 19;
    grid-row-end: 26;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
}

.BottomBaseResourcesMobile
{
    color:white;
    background-color: #143F6B;
    grid-column-start: 1;
    grid-column-end:21;
    grid-row-start: 30;
    grid-row-end: 36;
    padding: 1vw;
    float: right;
    font-family: 'Teko', sans-serif;
    text-align: center; 
}